<h1 align="center">All Articles</h1>
<div align="center">
  <%= will_paginate %>
</div>
 <% if @articles.blank? %>
  <h4 align="center">There are no articles containing the term "<%= params[:search] %>."</h4>
  <% end %>
<%= render 'article', obj: @articles %>
<div align="center">
  <%= will_paginate %>
</div>