$navbar-default-bg: #20B2AA;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoraton: none;
}

.center {
  text-align: center;
}

.btn {
  background-color: #20B2AA;
  border: none;
}

.btn:hover {
  background-color: #008B8B;
}

.jumbotron {
  background-image: asset-url('barre.jpg');
  background-size: cover;
  height: 600px;
}

.jumbotron h1, .jumbotron h2{
  color: #fff;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
}

.footer ul {
  list-style: none;
  float: right;
}